
$wdt-big-elipse : 145% ;
$pd-1 : 0.6rem ;

$br-1 : 1rem ; 
$br-2 : 1.4rem ;

    // 4 MAIN COLORS
$clr-1 : rgba(196, 12, 0, 1) ; //RED
$clr-2 : rgba(231, 208, 4, 1) ; //YELLOW
$clr-3 : rgba(50, 138, 16, 1) ; //GREEN
$clr-4 : rgba(18, 84, 171, 1) ; //BLUE
$clr-5 : rgba(216 , 216, 218, 1) ; //WHITE

    // CARD BACK
$clr-6 : rgba(21 , 18, 25, 1) ; //BLACK
$clr-7 : rgba(186 , 30, 39, 1) ; //RED
$clr-8 : rgba(214 , 215, 69, 1) ; //YELLOW
$clr-9 : rgba(255 , 253, 255, 1) ; //WHITE

