
    // PRIMARY //
$clr-100 : hsl(179, 62%, 43%);
$clr-200 : hsl(71, 73%, 54%);
    // NEUTRAL //
$clr-300 : hsl(204, 43%, 93%);
$clr-400 : hsl(218, 22%, 67%);

$ff-1 : 'Karla', sans-serif;

$fs-1 : 1rem ;

$fw-1 : 100;


