
$ff-s : serif ;
$ff-ss : sans-serif ;

$fs-1 : 1rem ;
$fs-2 : 2rem ;

$fw-1 : 100 ;
$fw-2 : 200 ;
$fw-3 : 300 ;
$fw-4 : 400 ;
$fw-5 : 500 ;
$fw-6 : 600 ;
$fw-7 : 700 ;
$fw-8 : 800 ;
$fw-9 : 900 ;






